{% if facebook %}<a href="{{ facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}
{% if instagram %}<a href="{{ instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}
{% if whatsapp %}<a href="{{ whatsapp }}"><i class="fa fa-whatsapp"></i></a>{% endif %}
{% if youtube %}<a href="{{ youtube }}"><i class="fa fa-youtube-play"></i></a>{% endif %}
{% if twitter %}<a href="{{ twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}