<div class="product-thumb transition">
    <div class="image">
      <a href="{{ product.href }}">
          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive transition" />
          <img src="{{ product.thumb2 }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive thumb2 transition" />
      </a>
      {% if product.quantity > 0 %}
      {% else %}
      <div class="button-group transition">
          Produto esgotado
      </div>
      {% endif %}
    </div>
    <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        {% if product.rating %}
        <div class="rating">
          {% for i in 5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        <!-- PREÇO -->
        {% if product.price %}
        <div class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span><span class="price-old">{{ product.price }}</span>
          {% endif %}
          {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}
        </div>

        <!-- PARCELAMENTO -->
        <div class="parcelamento">
            {% if config_semjuros != 1 %}
              {% if not product.special %}
                {% set nprice = product.price %}
              {% else %}
                {% set nprice = product.special %}
              {% endif %}
              <div class="clear"></div>
              {% set newPrice = nprice[2:] %}
              {% set newPrice = newPrice|replace({'.': null}) %}
              {% set newPrice = newPrice|replace({',': '.'}) %}
              {% set valorParcela = newPrice / config_semjuros %}
              {% set valorParcela = newPrice / config_semjuros %}
              {{config_semjuros}}x de <b>R$ {{ valorParcela|number_format(2, ',', '.') }}</b> sem juros
            {% else %}
            <i class="fa fa-credit-card" aria-hidden="true"></i> Em até 12x (com juros)
            {% endif %}
        </div>
        <!-- PARCELAMENTO -->
        {% endif %}
        <!-- PREÇO -->
        
        <div class="description">
            {{ product.description }}
        </div>

        <div class="button-group transition">
            <button class="transition" type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
            <button class="transition" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
            <button class="transition" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
        </div>
    </div>
</div>
